.itemCard {
  padding: 10px;

  display: grid;
  align-items: center;
  justify-content: center;
}
.itemCard:hover {
  cursor: pointer;
}

.itemCardImage {
  height: 200px;
  width: 200px;

  background-size: cover;

  border-radius: 3px;
}
.itemCard:hover .itemCardImage {
  background-size: 110%;
}

.itemCardName {
  margin-block: 9px;

  font-size: 20px;
  text-align: center;
}