.itemCard {
  padding: 10px;

  display: grid;
  align-items: center;
  justify-content: center;
}
.itemCard:hover {
  cursor: pointer;
}

.itemCardImage {
  height: 400px;
  width: 400px;

  background-size: 100%;
  background-position: center;

  border-radius: 3px;

  transition: background-size 300ms ease-in-out;
}
.itemCard:hover .itemCardImage {
  background-size: 120%;
}

.itemCardName {
  margin-block: 9px;

  font-size: 20px;
  text-align: center;
}