.welcomeSection {
  width: 100%;

  margin-block: 100px;

  background-color: black;

  display: grid;
}

.welcomeSectionTitle {
  color: white;
  font-size: 90px;
  font-weight: 500;

  padding-left: 20%;
}

.welcomeSectionParagraph {
  color: lightgray;
  font-size: 20px;
  font-weight: 300;

  padding-right: 20%;
  padding-left: 30%;

  margin-top: 20px;
}

@media (max-width: 1000px) {
  .welcomeSectionTitle {
    text-align: center;
  
    padding: 0;
  }

  .welcomeSectionParagraph {
    justify-self: center;

    padding-inline: 20%;
  }
}

@media (max-width: 700px) {
  .welcomeSectionParagraph {
    padding-inline: 5%;
  }
}