.welcomeSection {
  width: 100%;

  margin-block: 100px;

  background-color: black;
}

.welcomeSectionTitle {
  color: white;
  font-size: 90px;
  font-weight: 500;

  padding-left: 20%;
}

.welcomeSectionParagraph {
  color: white;
  font-size: 18px;

  padding-right: 20%;
  padding-left: 30%;
}