.navigationBar {
  width: 100% - 20px;
  height: 70px;
  
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 30px;
}

.navigationBarTitle {
  color: white;
  font-size: 16px;
  font-weight: 200;
}