.navigationBar {
  width: 100% - 20px;
  height: 50px;
  
  background-color: black;

  display: flex;
  align-items: center;

  padding-inline: 20px;
}

.navigationBarTitle {
  color: white;
  font-size: 16px;
  font-weight: 100;
}