.itemCard {
  height: max-content;
  width: 200px;

  display: grid;
  gap: 10px;

  align-items: center;
  justify-items: center;
}

.itemCardImage {
  border-radius: 3px;

  width: 200px;
  height: 200px;
  object-fit: cover;

  grid-row: 1;
}

.itemCardName {
  grid-row: 2;

  text-align: center;

  font-size: 18px;
  letter-spacing: 1px;
}

.itemCardButton {
  grid-row: 3;

  height: 30px;
  width: 100%;

  padding-block: 5px;

  background-color: black;

  text-align: center;
  color: white;
  font-weight: 100;
}