* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: none;
  border: none;
  outline: none;
}

html {
  background-color: rgb(246, 246, 246);
}

button:hover {
  cursor: pointer;
}